// Variables
$border-img: '../../../assets/images/frame.png';
$font-src: '../../../assets/fonts/dnr.woff';
$font-color: #FF0000;
$cursor-hovered: pointer;

// The scoreboard
.scoreboard {
    height: 6vh;
    border-bottom: 8px solid transparent;
    border-image: url($border-img) 155 round;
    -webkit-border-image: url($border-img) 155 round;
    -o-border-image: url($border-img) 155 round;
    font-family: digital;
    line-height: 6vh;
    font-size: 5vh;
    color: $font-color;

    // Mines left
    .mines-left {
        position: absolute;
        left: 32px;
    }

    // Reset button
    .reset-button {
        position: absolute;
        left: calc(50% - 3.5vh);
        border-radius: 50%;
        line-height: 0;
        padding: 0.25vh;

        // While hovering
        &:hover {
            cursor: $cursor-hovered;
            background-image: radial-gradient(circle, white, black);
        }

        // Reset image
        .reset-img {
            width: 5.5vh;
            height: 5.5vh;
            border-radius: 50%;
        }

    }

    // Time elapsed
    .time-elapsed {
        position: absolute;
        right: 32px;
    }

}

// Fonts
@font-face {
    font-family: digital;
    src: url($font-src);
}